@using Massive;
@using System.Web.Script.Serialization;
@using System.IO;
@{
	var db = Database.Open("LocalSQLServer");
	Action RenderList = () => {
		var data = db.Query("SELECT * FROM Recipe");
		Response.Write(Json.Encode(data));
		Response.End();
	};
	if (UrlData[0] == "recipes") {
		RenderList();
	}
	else if (UrlData[0] == "recipe") {
		var id = Convert.ToInt32(UrlData[1]);
		var record = db.QuerySingle("SELECT * FROM Recipe WHERE ID = @0", id);
		Response.Write(Json.Encode(record));
		Response.End();
	}
	else if (UrlData[0] == "save") {
        JavaScriptSerializer serializer = new JavaScriptSerializer();
        var json = new StreamReader(Request.InputStream).ReadToEnd();
        var recipe = serializer.Deserialize<dynamic>(json);
		
		var repo = new DynamicModel(tableName: "Recipe", primaryKeyField: "id");

		if (recipe.ContainsKey("id")) {
			repo.Save(recipe);
		} else {
			repo.Insert(recipe);
		}
		RenderList();
	}
}
<!doctype html>
<html ng-app="demo">
    <head>
	  <script src="/content/js/jquery-1.6.2.min.js"></script>
	  <script src="http://code.jquery.com/ui/jquery-ui-git.js"></script>
	  <script src="/content/js/angular-1.0.1.min.js"></script>
	  <script src="/content/js/app.js"></script>
	  <link rel="stylesheet" type="text/css" src="http://code.jquery.com/ui/jquery-ui-git.css"></link>
	  <style>
		.left { float:left; width: 400px; }
		.center { float: left; width: 800px; }
	  </style>
	</head>
	<body>

	  <div class="left" id="List" ng-controller="ListCtrl">
		Search: <input ng-model="query">
 
		<input type="button" ng-click="Add()" value="Add">
		<ul>
          <li ng-repeat="recipe in recipes | filter:query | orderBy:orderProp">
			<a href="#/{{recipe.id}}">{{recipe.name}}</a>
			<p>{{recipe.snippet}}</p>
          </li>
		</ul>
	  </div>

	  <div class="center" ng-view></div>
	  </div>
	</body>
</html>

